.background{
    color: #9792B8;
}

body {
  background-color: #0D0121;
}

.panel{
color: #3E4896;
font-size: 25px;
}

header{
    color: #9792B8;
    font-size: 25px;
    font-family: varela round;
    font-weight: bold;

}

h2{
    color: #9792B8;
    font-size: 40px;
}

.about{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: center;
    width: 1100px;
    height: 600px;

}

.profile {
    color: #9792B8;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 500px;
}

.furry {

    display: inline-block;
}

h3{
    color: #9792B8;
    font-size: 30px;
}

.star{
    color: #FFDEBF;
    font-size: 30px;
}

.dot{
    color: #9792B8;
    font-size: 25px;
}

.hobbies{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: left;
    width: 1100px;
    height: 600px;
}

.projects{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: left;
    width: 1100px;
    height: 600px;
} 
.shh{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: left;
    width: 1100px;
    height: 600px;
} 


.list{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 500px;
}

.navbutton{
    background-color: #9792B8;
    color: #9792B8;
    font-size: 25px;
    font-family: cursive;
    border: 3px solid #0D0121;
    border-radius: 40px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

}

.navlink{
    color: #0D0121;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.secret{
   background-color: #0D0121;
    color: #0D0121;
    font-size: 25px;
    font-family: cursive;
    border: 1px solid #0D0121;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: default;
}

.secrettext{
    color: #FFDEBF;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: default;
}

p1{
    color: #9792B8;
    font-size: 30px;
}
.background{
    color: #9792B8;
}

body {
  background-color: #0D0121;
}

.panel{
color: #3E4896;
font-size: 25px;
}

header{
    color: #9792B8;
    font-size: 25px;
    font-family: varela round;
    font-weight: bold;

}

h2{
    color: #9792B8;
    font-size: 40px;
}

.about{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: center;
    width: 1100px;
    height: 600px;

}

.profile {
    color: #9792B8;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 500px;
}

.furry {

    display: inline-block;
}

h3{
    color: #9792B8;
    font-size: 30px;
}

.star{
    color: #FFDEBF;
    font-size: 30px;
}

.dot{
    color: #9792B8;
    font-size: 25px;
}

.hobbies{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: left;
    width: 1100px;
    height: 600px;
}

.projects{
    background-image: url("https://img.sanishtech.com/u/63f9a011871fdbfd93a0300c22212c71.png");
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    color: #9792B8;
    font-size: 30px;
    align-items: left;
    width: 1100px;
    height: 600px;
} 

.list{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 500px;
}
